[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "==3.6.1"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
preprocess = "python src/raw_data_preprocessing.py"
